# compiled output
dist
*.tsbuildinfo
.vite

# dependencies
node_modules

# editors
.idea
.vscode/*
!.vscode/extensions.json

# system files
.DS_Store
Thumbs.db

# env
.env
.env.*

# logs
npm-debug.log
yarn-error.log
